### Ec141, Spring 2020
## Bryan Graham

### Problem Set 2
### Due: February 28th, 2019

Problem sets are due at 5PM in the GSI's mailbox. You may work in groups, but each student should turn in their own write-up (including a narrated/commented and executed Jupyter Notebook). Please use markdown boxes within your Jupyter Notebook for narrative answers to the questions below.

## 1   Frisch-Waugh Theorem and Residual Regression
Consider the long linear regression

$$
\mathbb{E}^*[Y|X,W]=X^{\prime}\beta_0+W^{\prime}\gamma_0
$$

with $X$ a $K\times 1$ vector (which includes a constant) and $W$ a $J\times 1$ vector (*which does not* include a constant). We also have the short linear regression

$$
\mathbb{E}^*[Y|X]=X^{\prime}b_0
$$

as well as the auxiliary (multivariate regression):

$$
\mathbb{E}^*[W|X]=\Pi_0 X
$$

1. Construct the $J\times 1$ residual vector:

$$
V=W-\Pi_0 X
$$

and show that 

$$\mathbb{E}^*[Y|X,V]=\mathbb{E}^*[Y|X]+\mathbb{E}^*[Y|V]-\mathbb{E}[Y].
$$

Interpret your result [10 Sentences].

Answer here:

2. Let $\mathbb{E}^*[Y|V]=V^{\prime}\eta_0$ and show that

$$
\mathbb{E}^*[Y|X,W]=X^{\prime}b_0+V^{\prime}\gamma_0
$$

and hence that $\gamma_0=\eta_0$. Interpret your result [10 sentences].

Answer here:

## Linear Regression
This question uses the comma delimited dataset **nlsy79extract.csv**.

1. Load the dataset into a pandas dataframe called **nlsy79**. Use **HHID_79** and **PID_79** as the multi-indices for the dataframe.

In [2]:
import pandas as pd
nlsy79=pd.read_csv("https://raw.githubusercontent.com/bryangraham/Ec_141/master/Spring2020/Problem_Sets/nlsy79extract.csv")

# Rows are indexed by househould id (HHID_79) first, and then within households, by person id (PID_79).
nlsy79.set_index(['HHID_79','PID_79'], drop=False)
nlsy79.head()

#Rename HGC_FATH79r and HGC_MOTH79r in anticipation of question 5
nlsy79.rename(columns = {'HGC_FATH79r':'HGC_Fath79','HGC_MOTH79r':'HGC_Moth79'},inplace=True);
nlsy79.head()

,PID_79,HHID_79,core_sample,sample_wgts,month_born,year_born,live_with_mom_at_14,live_with_dad_at_14,single_mom_at_14,usborn,...,weeks_worked_2001,weeks_worked_2003,weeks_worked_2005,weeks_worked_2007,weeks_worked_2009,weeks_worked_2011,NORTH_EAST_79,NORTH_CENTRAL_79,SOUTH_79,WEST_79
0,1,1,1,602156.31,9,58,1.0,1.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0
1,2,2,1,816100.38,1,59,1.0,1.0,0.0,0.0,...,0.0,18.0,52.0,52.0,52.0,52.0,1.0,0.0,0.0,0.0
2,3,3,1,572996.38,8,61,1.0,0.0,0.0,1.0,...,0.0,NaN,43.0,0.0,NaN,52.0,1.0,0.0,0.0,0.0
3,4,3,1,604567.88,8,62,1.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0
4,5,5,1,764753.00,7,59,1.0,1.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0

2. Drop any cases where **core_sample** equals zero.

3. Drop any cases where **male** equals zero.

4. Create a variable called **earnings_in_2000** which is the average of **real_earnings_1997**, **real_earnings_1999**,  **real_earnings_2001**, **real_earnings_2003**. When computing this variable average over all non-missing values; for example if earnings is observed in just two of the four years listed above, average over the two years it is observed.

5. Drop all variables except **HGC_Age28**, **live_with_mom_at_14**, **live_with_dad_at_14**, **usborn**, **hispanic**, **black**, **AFQT**, **HGC_Fath79**, **HGC_Moth79**, and **earnings_in_2000**.

6. Finally retain only complete cases (you can use "dropna()" for this).

7. Those units that remain constitute your estimation sample. Use "describe()" to print out some basic summary statistics for your estimation sample. Write a short paragraph about your dataset.

Define **LogEarn** to be the natural logarithm of **earnings_in_2000**.

1. Compute the least squares fit of **LogEarn** onto a constant and **HGC_Age28**. You may use Python's StatsModels OLS implementation for computation and standard error construction.

2. Estimate the parameters of the following linear regression model by the method of least squares

$$
\mathbb{E}^*[\text{LogEarn}|X]=\alpha_0+\beta_0 \text{HGC_Age28} + \gamma_0 \text{HGC_Age28}\times (\text{AFQT}-50)+\delta_0 \text{AFQT}
$$

where $X = (\text{HGC_Age28}, \text{HGC_Age28}\times(\text{AFQT}-50), \text{AFQT})^{\prime}.$

(a) Plot your estimate of $\beta_0+\gamma_0(\text{AFQT}-50)$ as a function of **AFQT** (for **AFQT** from zero to one hundred).

(b) Construct an asymptotic point-wise confidence band for $\beta_0+\gamma_0(\text{AFQT}-50)$ and plot it on the same figure.

(c) Interpret $\beta_0$ and discuss your estimates of them.

3. Additionally condition on **live_with_mom_at_14**, **live_with_dad_at_14**, **usborn**, **hispanic**, **black**, **HGC_Fath79**, and **HGC_Moth79**. Do the estimated coefficients on **HGC_Age28** and interaction with **AFQT** change? Explain.